
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageOwner.cshtml";
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<div style="width:100%">
    <table>
        <tbody style="width:100%">
            <tr>
                <td>
                    <div style="width:400px;">
                        <h2>Kullanıcı Bilgileri</h2>
                        
                        @if (@Session["Userpp"] == null)
                        {
                            <img src="~/Image/default_user.png" style="margin-top:10%;margin-left:5%; width:300px;height:350px;" />
                        }

                        else
                        {
                        var paths = new List<string>();
                        paths.Add("~/Image" + @Session["Userpp"].ToString().Split(new string[] { "Image" } , StringSplitOptions.None ).Last());
                            
                        <img src='@Url.Content(paths[0])' style="margin-top:10%;margin-left:5%; width:300px;height:350px;" />
                        }
                        <a style="margin-top:10px;margin-left:5px" class='btn btn-info' onclick=PopupForm('@Url.Action("EditKullaniciBilgileri","DB")/@Session["userID"]')><i class="fa fa-id-card-o" aria-hidden="true"></i> Profili Düzenle</a>
                    </div>
                </td>
                <td>
                    <div style="vertical-align:central">
                        <div style="margin-top:75px">
                            <table>
                                <tr>
                                    <td>
                                        <div style="background-color:lightgrey" >
                                            <label style="font-size:25px">İsim Soyisim &nbsp</label><br />
                                            <label style="font-size:25px">Kullanıcı Adı &nbsp</label><br />
                                            <label style="font-size:25px">Şifre &nbsp</label><br />
                                            <label style="font-size:25px">Cep Telefonu &nbsp</label><br />
                                            <label style="font-size:25px">İş Telefonu &nbsp</label><br />
                                            <label style="font-size:25px">Unvan &nbsp</label><br />
                                            <label style="font-size:25px">Yetki &nbsp</label><br />
                                        </div>
                                    </td>
                                    <td>
                                        <div style="margin-left:25px">
                                            <label style="font-size:25px; font-weight:normal;">@Session["UserName"].ToString() @Session["UserSurName"].ToString()</label><br />
                                            <label style="font-size:25px; font-weight:normal;">@Session["UserNickName"].ToString()</label><br />
                                            <label style="font-size:25px; font-weight:normal;">@Session["UserPassword"].ToString()</label><br />
                                            <label style="font-size:25px; font-weight:normal;">@Session["CepTel"]</label><br />
                                            @if (Session["IsTel"] != null)
                                            {<label style="font-size:25px; font-weight:normal;">@Session["IsTel"]</label><br />}
                                            else
                                            {
                                            <label style="font-size:25px; font-weight:normal;">Belirtilmemiş</label><br />
                                            }
                                            <label style="font-size:25px; font-weight:normal;">@Session["Unvan"].ToString()</label><br />
                                            <label style="font-size:25px; font-weight:normal;">@Session["UserType"].ToString()</label><br />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    function PopupForm(url) {
    var formDiv = $('<div/>');
    $.get(url)
        .done(function (response) {
            formDiv.html(response);

            popUp = formDiv.dialog({
                autoOpen: true,
                resizable: false,
                title: 'Bilgileri Düzenle',
                height: 370,
                width: 600,
                close: function myfunction() {
                    popUp.dialog('destroy').remove();
                }
            });
        });
}
function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);
        var data = new FormData(form)

        if ($(form).valid()) {
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/DB/EditKullaniciBilgileri",
                processData: false,  // Important!
                contentType: false,
                cache: false,
                data: data,
                success: function (data) {
                    if (data.success) {
                        popUp.dialog('close');

                        location.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    }
</script>