
@using Emlak.Models;
@model KONUT_ISYERI
@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEditIsyeriDevrenSatilik", "DB", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return SubmitFormIsyeriDevrenSatilik(this)" }))
{
    @Html.HiddenFor(model => model.ID)
    <div class="form-group">
        @Html.EditorFor(model => model.ilanBasligi, new { @htmlAttributes = new { placeholder = "İlan Başlığı", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.TextAreaFor(model => model.ilanDetayi, 10, 120, htmlAttributes: new { style = "width: 100%; max-width: 100%; resize: none;" })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Adi, new { @htmlAttributes = new { placeholder = "İlan Sahibinin Adı", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Soyadi, new { @htmlAttributes = new { placeholder = "İlan Sahibinin Soyadı", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.MusteriKaynagi, new { @htmlAttributes = new { placeholder = "Müşteri Kaynağı", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.TC, new { @htmlAttributes = new { placeholder = "TC Kimlik No", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Iban, new { @htmlAttributes = new { placeholder = "Iban No", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.CepTelefonu, new { @htmlAttributes = new { placeholder = "Cep Telefonu", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.IsTelefonu, new { @htmlAttributes = new { placeholder = "İş Telefonu", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.Label("İşyeri Türü", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.IsyeriTuru, (List<SelectListItem>)ViewBag.IsyeriTuru, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.MetreKare, new { @htmlAttributes = new { placeholder = "Metrekare", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.Label("Oda Sayısı", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.OdaSayisi, (List<SelectListItem>)ViewBag.OdaSayisi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Bina Yaşı", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.BinaYasi, (List<SelectListItem>)ViewBag.BinaYasi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Bulunduğu Kat", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Kat, (List<SelectListItem>)ViewBag.BulunduguKat, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Kat Sayısı", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.KatSayisi, (List<SelectListItem>)ViewBag.KatSayisi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Isıtma", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.IsitmaTipi, (List<SelectListItem>)ViewBag.IsitmaTipi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Kullanım Durumu", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.KullanimDurumu, (List<SelectListItem>)ViewBag.KullanimDurumu, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.FiyatNet, new { @htmlAttributes = new { placeholder = "Fiyat Net", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        @Html.Label("Krediye Uygun", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.krediyeUygun, new[] { new SelectListItem { Text = "Belirtilmemiş", Value = null }, new SelectListItem { Text = "Evet", Value = "True" }, new SelectListItem { Text = "Hayır", Value = "False" } })
    </div>
    <div class="form-group">
        @Html.Label("Takaslı", new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Takas, new[] { new SelectListItem { Text = "Belirtilmemiş", Value = null }, new SelectListItem { Text = "Evet", Value = "True" }, new SelectListItem { Text = "Hayır", Value = "False" } })
    </div>
    <div>
        @Html.Label("Adres Bilgileri")
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.il, new { @htmlAttributes = new { placeholder = "İl" } })
        @Html.EditorFor(model => model.ilce, new { @htmlAttributes = new { placeholder = "İlçe" } })
        @Html.EditorFor(model => model.Mahalle, new { @htmlAttributes = new { placeholder = "Mahalle" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Cadde, new { @htmlAttributes = new { placeholder = "Cadde" } })
        @Html.EditorFor(model => model.Sokak, new { @htmlAttributes = new { placeholder = "Sokak" } })
        @Html.EditorFor(model => model.AptAdi, new { @htmlAttributes = new { placeholder = "Apartman Adı" } })
    </div>
    <div class="form-group">
        @Html.EditorFor(model => model.Note, new { @htmlAttributes = new { placeholder = "Not", @class = "form-control", autocomplete = "off" } })
    </div>
    <div class="form-group">
        <input id="Kisyeri_images" type="file" name="Kisyeri_images" multiple accept=".jpg,.jpeg">
        <input type="submit" value="Ekle" class="btn btn-primary" />
    </div>
}