<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    @Styles.Render("https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")
    @Styles.Render("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/themes/base/jquery-ui.min.css")
    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        /* Style the tab */
        .tab {
            position: relative;
            float: left;
            background-color: black;
            width: 10%;
            min-width: 150px;
            height: 650px;
        }

            /* Style the buttons inside the tab */
            .tab button {
                display: block;
                background-color: inherit;
                color: #808080;
                padding: 22px 16px;
                width: 100%;
                border: none;
                outline: none;
                text-align: left;
                cursor: pointer;
                transition: 0.3s;
                font-size: 15px;
                border: thin;
                border-color: white;
            }

        .drop-down {
            position: relative;
        }
        /* Change background color of buttons on hover */
        .tablinks:hover {
            color: #ddd;
        }

        .dropdown-btn:hover {
            color: #ddd;
        }

        /* Create an active/current "tab button" class */
        .tablinks.active {
            background-color: #8d8b8b;
            color: #fff;
        }

        .dropdown-btn.active {
            color: black;
            background-color: #ddd;
        }

        /* Style the tab content */
        .tabcontent {
            float: left;
            padding: 0px 12px;
            border: 1px solid #ccc;
            width: 80%;
            border-left: none;
            height: 650px;
        }

        .dropdown-menu {
            position: static !important;
            display: none;
            background-color: #303030;
        }

        /* Optional: Style the caret down icon */
        .fa-caret-down {
            float: right;
            padding-right: 8px;
        }

        .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: #818181;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

        .field-validation-error {
            color: #e80c4d;
            font-weight: bold;
        }

        input.input-validation-error {
            border: 1px solid #e80c4d;
        }

        .field {
            border: none;
            border-spacing: 0px;
        }

            .field tr, .field td {
                border: none;
                padding: 10px;
                vertical-align: top;
            }

            .field img {
                display: block;
                width: 200px;
                height: 128px;
                image-rendering: pixelated;
                image-rendering: -moz-crisp-edges;
            }
    </style>
</head>
<body>
    <table style="width:100%">
        <tr>
            <td colspan="4" style=" width:100%; height:10%; text-align:center"><h3>Esse Emlak</h3></td>
        </tr>
        <tr>
            <td style="width:5%; height:80%"></td>
            <td style="width:15%; height:80%">
                @{var yetki = ""; if (Session["userID"] != null) { yetki = Session["UserType"].ToString(); } else { Response.Redirect("~/Login/Index"); } }
                <div class="tab">
                    <button class="dropdown-btn">Kullanıcı<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "KullaniciBilgileri")'" id="defaultOpen">Kullanıcı Bilgileri</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "Ajanda")'">Ajanda</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "Alacaklarim")'">Alacaklarım</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "Borclarim")'">Borçlarım</button>
                        <button class="tablinks" onclick="openCity(event, 'Mesajlarim')">Mesajlarım</button>
                        <button class="tablinks" onclick="openCity(event, 'Mesaj_Gonder')">Mesaj Gönder</button>
                        @{if (yetki == "Owner") {<button class="tablinks" onclick="location.href='@Url.Action("Index", "AdminAta")'">Admin Ata</button>} }
                        @{if (yetki=="Owner" || yetki=="Admin") {<button class="tablinks" onclick="location.href='@Url.Action("Index", "KullaniciAta")'">Kullanıcı Ata</button>} }
                    </div>
                    <button class="dropdown-btn">Müşteri Ara<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "EmlakArayanlar")'">Emlak Arayanlar</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "SozlesmeKontrat")'">Sözleşme/Kontrat</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "KiraTakip")'">Kira Takip</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "BorcluListesi")'">Borçlu Listesi</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "KontratTakip")'">Kontrat Takip</button>
                    </div>
                    <button class="dropdown-btn">Konut<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "KonutSatilik")'">Satılık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "KonutKiralik")'">Kiralık</button>
                    </div>

                    <button class="dropdown-btn">İş Yeri<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "IsyeriSatilik")'">Satılık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "IsyeriKiralik")'">Kiralık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "IsyeriDevrenSatilik")'">Devren Satılık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "IsyeriDevrenKiralik")'">Devren Kiralık</button>
                    </div>

                    <button class="dropdown-btn">Arsa<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "ArsaSatilik")'">Satılık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "ArsaKiralik")'">Kiralık</button>
                    </div>

                    <button class="dropdown-btn">Tarla<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "TarlaSatilik")'">Satılık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "TarlaKiralik")'">Kiralık</button>
                    </div>

                    <button class="dropdown-btn">Bina<i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-menu">
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "BinaSatilik")'">Satılık</button>
                        <button class="tablinks" onclick="location.href='@Url.Action("Index", "BinaKiralik")'">Kiralık</button>
                    </div>

                    <button type="button" class="tablinks" onclick="location.href='@Url.Action("LogOut", "Login")'">Çıkış</button>
                </div>
            </td>
            <td style="width:75%; height:80%; vertical-align:text-top;">@RenderBody()</td>
            <td style="width:5%; height:80%"></td>
        </tr>
        <tr>
            <td colspan="4" style="font-size:x-small; height:10%; width:100%; text-align:center;"><label>Akın SEZER 2019</label></td>
        </tr>
    </table>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                    for (var j = 0; j < dropdown.length; j++) {
                        index = Array.from(this.parentElement.children).indexOf(this);
                        if (index / 2 != j) {
                            dropdown[j].className = dropdown[j].className.replace(" active", "");
                            dropdown[j].nextElementSibling.style.display = "none";
                        }
                    }
                }
            });
        }
    </script>
</body>
</html>
